.form-control.customPadding {
  margin-top: 0.5rem;
}

.form-group.addSeparation {
  padding-top: 0.80rem;
  padding-bottom: 0.80rem;
}
.alert.alert-success.margin {
  margin-top: 5rem;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.input-full-width {
  width: 85%;
}

.btn.btn-lg.btn-primary.input-full-width.custom-padding-button {
  margin-bottom: 1.0rem;
}
