<mat-toolbar class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container d-flex justify-content-between">
    <a routerLink="/" class="navbar-brand d-flex align-items-center">
      <strong>Portfolio Manager</strong>
    </a>
    <nav *ngIf="!isAuthenticated" class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-light" routerLink="/register">Signup</a>
      <a class="p-2 text-light" routerLink="/login">Login</a>
    </nav>
    <nav *ngIf="isAuthenticated" class="my-2 my-md-0 mr-md-3">

      <button class="large" mat-icon-button [matMenuTriggerFor]="menu" aria-label="User Profile">
        {{name}} <mat-icon>menu</mat-icon>
      </button>
      <mat-menu xPosition="before" yPosition="below" #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>perm_identity</mat-icon>
          <span>Profile</span>
        </button>
        <button (click)="signout()" href="javascript:void(0)" mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Signout</span>
        </button>
        <button routerLink="/topsecret" mat-menu-item>
          <mat-icon>verified_user</mat-icon>
          <span>Top Secret Area</span>
        </button>
      </mat-menu>

    </nav>
  </div>
</mat-toolbar>