.mat-icon-button.large {
  margin-top: 0.8rem;
  width: 1.40rem;
  height: 1.40rem;
  line-height: 1.40rem;
  font-size: 1.40rem !important;

  .mat-icon {
    font-size: 1.40rem !important;
    width: 1.40rem;
    height: 1.40rem;
    line-height: 1.40rem;
  }
}
